* {
    margin: 0;
    padding: 0;
}

.logo {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    display: flex;
    width: 100%;
    height: 100%;
    border: 4px;
    border-radius: 250px;
    align-content: space-between;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.nav-list {
    width: 50%;
    display: flex;
    align-items: center;
}

.nav-list li {
    list-style: none;
    padding: 26px 30px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
}

.nav-list li a:hover {
    color: grey;
}

.background {
    background: rgba(0, 0, 0.7);
    background-size: cover;
    background-blend-mode: darken;
}

body {

    background-color: #3c3374;

}

@media all and(min-width:1001px) {
    .navbar background {
        content: "(" attr(nav-list) ")";
    }
}


@media all and (max-width: 1000px) and (min-width: 700px),
(min-width: 1151px) {}

/* body {
    background-color: rgb(2, 2, 32);
    color: whitesmoke;
    font-family: "Poppins", serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(6, 6, 55);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav ul li a {
    text-decoration: none;
    color: white
}

nav ul li a:hover {
    color: rgb(159, 159, 219);
    font-size: 1.1rem;
} */

main hr {
    border: 0;
    background-color: #9c97f1;
    height: 1.2px;
    margin: 60px 84px;
}


/* .left {
    font-size: 1.5rem;
} */

.firstsection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 130px 0;
}

.firstsection>div {
    width: 30%;
}

.leftsection {
    font-size: 2rem;

}

.leftsection .buttons {
    padding: 50px 0;
}

.leftsection .btn {
    padding: 12px;
    background: #1e2117;
    color: white;
    border: 2px solid white;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;

}

.leftsection .btn:hover {
    background-color: white;
    color: #1e2117;
    font-size: 1.1rem;
}

.rightsection img {
    width: 80%;

}

.purple {
    color: rgb(153, 95, 208);
}

.text-grey {
    color: grey;
}

#element {
    color: rgb(153, 95, 208);
}

.secondsection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

.thirdsection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
    color: blue;
}

.secondsection h1 {
    font-size: 1.5rem;
}

.secondsection .box {
    background: white;
    width: 82vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}

.thirdsection .box {
    background: white;
    width: 65vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}

.secondsection .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 105px;
}

.thirdsection .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 160px;
}

.image-top {
    width: 50px;
    position: relative;
    top: -32px;
    left: -9px;
}

.vertical-title {
    position: relative;
    top: 75px;
    width: 150px;
    font-size: 14px;
}

.vertical-content {
    position: relative;
    top: 75px;
    width: 150px;
    font-size: 14px;
}


.vertical-desc {
    position: relative;
    top: 86px;
    color: gray;
    width: 150px;
    font-size: 9px;

}


footer {
    background-color: #080814;

}


.footer {
    display: flex;
    padding: 23px 122px;
    justify-content: space-evenly;
}

.footer ul {
    list-style: none;
}


.footer>div {
    width: 223px;
}

footer .footer-right {
    text-align: center;
    color: gray;
    padding: 12px 0;
}

.homepage {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    color: gray;
}

.home {
    color: gray;
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
}